<div class="about">
    <div class="about-container">
        <div class="presentationline">
            <div class="presentationtxt">Hi there ,<br>
                Welcome to Art Corner ,<br>
                My name is Tayssir and I'm a digital full stack developper I love art and travelling <p>&hearts;
                    &hearts;</p>

            </div>
            <div class="presentationimg">

                <img src="/images/portrait.jpg" alt="">
            </div>
        </div>


        <div>
            <ul class="personal-picture">

                <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                        <div>
                            <img class="perso-img" src="/images/image1.jpg" alt="image1">
                        </div>
                    </a></li>
                <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                        <div class="perso-img-container">
                            <img class="perso-img" src="/images/image2.jpg" alt="image2">
                        </div>
                    </a></li>
                <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                        <div>
                            <img class="perso-img" src="/images/image3.jpg" alt="image3">
                        </div>
                    </a></li>
                <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                        <div>
                            <img class="perso-img" src="/images/image4.jpg" alt="image1">
                        </div>
                    </a></li>
                <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                        <div>
                            <img class="perso-img" src="/images/image5.jpg" alt="image1">
                        </div>
                    </a></li>
                <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                        <div>
                            <img class="perso-img" src="/images/image6.jpg" alt="image1">
                        </div>
                    </a></li>
                <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                        <div>
                            <img class="perso-img" src="/images/image16.JPG" alt="image1">
                        </div>
                    </a></li>
                <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                        <div>
                            <img class="perso-img" src="/images/image8.jpg" alt="image1">
                        </div>
                    </a></li>
                <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                        <div>
                            <img class="perso-img" src="/images/image9.jpg" alt="image1">
                        </div>
                    </a></li>
                <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                        <div>
                            <img class="perso-img" src="/images/image10.jpg" alt="image1">
                        </div>
                    </a></li>
                <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                        <div>
                            <img class="perso-img" src="/images/image11.jpg" alt="image1">
                        </div>
                    </a></li>
                <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                        <div>
                            <img class="perso-img" src="/images/image12.jpg" alt="image1">
                        </div>
                    </a></li>
                <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                        <div>
                            <img class="perso-img" src="/images/image13.jpg" alt="image1">
                        </div>
                    </a></li>
                <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                        <div>
                            <img class="perso-img" src="/images/image14.jpg" alt="image1">
                        </div>
                    </a></li>

                </ulclass="personal-picture">
        </div>

    </div>
</div>