.about {
  display: flex;
  justify-content: center;
}
.about-container {
  width: 80vw;
  height: 80vh;
  background-color: white;
  margin-top: 13vh;
  margin-bottom: 2vh;
}
.presentationline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vh;
}
.presentationtxt {
  width: 25vw;
  margin-right: 2vw;
  margin-left: 2vw;
}
.presentationimg {
  width: 10vw;
  padding: 1vh;
  border: solid 3px black;
}
.presentationimg img {
  max-width: 100%;
}
.personal-picture {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1vw 1vw;
}

.perso-img {
  width: 80%;
  max-height: 100%;
  border: solid 3px black;
}
.insta-link {
  text-decoration: none;
}
.list-insta {
  list-style: none;
}
/*media queries */

@media only screen and (max-width: 600px) {
  .personal-picture {
    grid-template-columns: 1fr 1fr 1fr;
  }
  * {
    font: 2vw "Bellota", cursive;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .personal-picture {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  /*green*/
  * {
    font: 1.5vw "Bellota", cursive;
  }
 
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 768px) and (max-width: 992px) {
  /*purple*/
  .personal-picture {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  * {
    font: 1.3vw "Bellota", cursive;
  }
 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .personal-picture {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
