.streetArt {
  display: flex;
  justify-content: center;
}
.streetArt-container {
  width: 80vw;
  background-color: white;
  margin-top: 13vh;
  margin-bottom: 3vh;
  padding-top: 1vh;
}
.gridContainerSA {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
  justify-items: center;
  align-items: center;
}
.image-streetArt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}
.image-streetArt-container h4 {
  font-weight: bold;
}
.image-border {
  display: flex;
  border: 4px solid black;
  padding: 1vh;
  justify-items: center;
  align-items: center;
  margin-bottom: 1vh;
}
.image-streetArt {
  max-width: 100%;
  max-height: 50%;
  border: 2px solid black;
}
.image-streetArt-container:hover {
  top: 10vh;
  background-color: hsla(0, 0%, 100%, 0.9);
  position: fixed;
  width: 80vw;
  height: 100vh;
  max-width: 100%;
}
.image-streetArt-container:hover .title-streetArt {
  display: none;
}
.image-streetArt-container:hover .image-border {
  width: 40vw;
  position: fixed;
  top: 10vh;
  left: 11vw;
  z-index: 1;
}
.image-streetArt-container:hover .image-streetArt {
  width: 100%;
}
.twoRowsleft:hover {
  max-width: 100%;
}

.twoRowsright {
  grid-column: 2/-1;
  max-width: 70%;
}
.twoRowsleft {
  grid-column: 1/3;
  max-width: 70%;
}
.image-streetArt-landscape {
  max-width: 50%;
  max-height: 100%;
  border: 2px solid black;
}
@media only screen and (max-width: 600px) {
  .gridContainerSA {
    grid-template-columns: 1fr 1fr;
  }
  * {
    font: 2vw "Bellota", cursive;
  }
  .image-streetArt-container:hover .image-border {
    width: 75vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .gridContainerSA {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /*green*/
  * {
    font: 1.5vw "Bellota", cursive;
  }
  .image-streetArt-container:hover .image-border {
    width: 75vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 768px) and (max-width: 992px) {
  /*purple*/
  .gridContainerSA {
    grid-template-columns: 1fr 1fr 1fr;
  }
  * {
    font: 1.3vw "Bellota", cursive;
  }
  .image-streetArt-container:hover .image-border {
    width: 60vw;
    left: 20vw;
  }
  .twoRowsleft:hover .image-border {
    width: 50vw;
    left: 20vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .gridContainerSA {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .image-streetArt-container:hover .image-border {
    width: 30vw;
    left: 30vw;
  }
  .twoRowsleft:hover .image-border {
    width: 50vw;
    left: 20vw;
  }
}
