<div class="streetArt">
    <div class="streetArt-container">
        <div class="gridContainerSA">
            <div class="image-streetArt-container">
                <div class="image-border">
                    <img class='image-streetArt' src="/images/paintings/streetArt/artNowar.jpg">
                </div>

                <h4 class="title-streetArt">Make Art No War | 2019 | Posca</h4>
            </div>
            <div class="image-streetArt-container">
                <div class="image-border">
                    <img class='image-streetArt' src="/images/paintings/streetArt/fundamentalRight.jpg">

                </div>
                <h4 class="title-streetArt">Girl needs FUNdamental Right | 2020 | Posca</h4>
            </div>
            <div class="image-streetArt-container">
                <div class="image-border">
                    <img class='image-streetArt' src="/images/paintings/streetArt/life.jpg">
                </div>

                <h4 class="title-streetArt">Giving Life | 2020 | Posca</h4>
            </div>
            <div class="image-streetArt-container">
                <div class="image-border">
                    <img class='image-streetArt' src="/images/paintings/streetArt/KeepGoing.jpg">
                </div>
                <h4 class="title-streetArt">KeepGoing | 2019 | Posca</h4>
            </div>
            <div class="image-streetArt-container twoRowsleft">
                <div class="image-border">
                    <img class='image-streetArt' src="/images/paintings/streetArt/lifeMatters.jpg">
                </div>

                <h4 class="title-streetArt">LifeMatters | 2019 | Posca</h4>
            </div>
            <div class="image-streetArt-container">
                <div class="image-border">
                    <img class='image-streetArt' src="/images/paintings/streetArt/theEye.jpg">
                </div>

                <h4 class="title-streetArt">Meet the Eye | 2020 | Posca</h4>
            </div>

            <div class="image-streetArt-container">
                <div class="image-border">
                    <img class='image-streetArt' src="/images/paintings/streetArt/welcomeToMyPlace.jpg">
                </div>

                <h4 class="title-streetArt"> Welcome | 2020 | Posca </h4>
            </div>
            <div class="image-streetArt-container twoRowsleft">
                <div class="image-border">
                    <img class='image-streetArt' src="/images/paintings/streetArt/lost.jpg">

                </div>

                <h4 class="title-streetArt">lost | 2020 | Posca</h4>
            </div>



        </div>
    </div>
</div>